html {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100%;
    background-color: aqua;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #000000;
}

main {
    width: 50%;
    margin: 0 auto;
}

papajoke-nav::part(button) {
    border-radius: 2rem;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px;
    width:150px;
  }
  
  papajoke-nav::part(button):hover {
    background-color: #eee;
    border: 2px solid black;
  }
  
  papajoke-nav {
    display: block;
    margin: 0 auto;
    width: 50%;
  }